{{ define "header-about" }}{{ end }}
{{ define "scripts-about" }}{{ end }}

<div class='row full-width'>
  <div class='small-12 medium-10 medium-offset-1 columns'>
    <h1>About</h1>
    <h4>Book summaries are the <strong>only reasonable way to read a book a week</strong>! Here's how they work:</h4>
  </div>
  <div class='small-12 medium-5 medium-offset-1 columns'>
    <h3>How To</h3>
    <p>The key to reading a book a week is to understand that you <em>shouldn't</em> be reading non-fiction word for word. <em>Non-fiction is </em>(usually)<em> made to be understood, not read!</em> Here's how to do that, summarised from <a href='https://hbr.org/2016/02/how-to-read-a-book-a-week'>this HBR article</a>:</p>
    <ol>
      <li><strong>Check out the author’s bio</strong> online to get a sense of the person’s bias and perspective.</li>
      <li><strong>Read the title, subtitle, front flap, table of contents.</strong> Figure out the big-picture argument of the book, and how that argument is laid out.</li>
      <li><strong>Read the introduction and conclusion word for word</strong> to figure out where the author starts from and where he eventually gets to.</li>
      <li><strong>Read/skim each chapter</strong> (this is the hardest for me!) Read the title, and the first few paragraphs or the first few pages of the chapter to figure out how the author is using the chapter and where it fits into the argument of the whole book. Skim through headings and subheadings to get an idea of the flow. Read first sentence of each paragraph and last. Once you get an argument, move on as it may repeat itself.</li>
      <li><strong>End with the table of contents again, summarise each.</strong></li>
</ol>
<p>While you read, take note of what questions you have. Where do you agree/disagree? This trick (combined with the 5 steps above) will ensure that you remember more than you otherwise might have, because you're now actively engaging with the text.</p>

<p>The last important idea is that non-fiction is a <em>conversation</em> between thinkers, expressed through other books. Reading more, and quickly, helps you learn where each book fits into the larger narrative of ideas, and allows you to become faster with each subsequent book you read.</p>
  </div>
  <div class='small-12 medium-5 end columns'>
    <h3>Why summarise?</h3>
    <p>Summarising helps you remember what you've learnt from a book. A book summary organises a book's information in your brain, and exists as a useful reference, post-reading, instead of re-reading the book.</p>
    <p>Having a quick index of summaries also makes it easier to cross-reference ideas across different books. Most people get too lost in the weeds while reading, and are unable to connect the arguments of one book to the ideas of another one 3 books later.</p>
    <p>Keeping a searchable index of books makes it possible to do so.</p>
    <p>The beauty of this ability to remember what you've read is that you can finish a book in a week, while maintaining higher comprehension of the ideas and concepts expressed therein.</p>
    <h3>About me</h3>
    <p>I'm a <a href='http://elijames.org'>dude</a> who reads.</p>
    <h3>Colophon</h3>
    <p>This site was written in Go to help me with my book reviews, and you may find the source code <a href='https://github.com/ejamesc/grepbook'>here.</a></p>
    <p>The header font is Cormorant Garamond and the body font is Proza Libre.</p>
  </div>
</div>
