{{ define "header-about" }}{{ end }}
{{ define "scripts-about" }}{{ end }}

<div class='row full-width'>
  <div class='small-12 medium-10 medium-offset-1 columns'>
    <h1>About</h1>
    <h4>Book summaries are fun! Here's how they work:</h4>
  </div>
  <div class='small-12 medium-5 medium-offset-1 columns'>
    <h3>How To</h3>
    <p>The trick to reading a book a week is to understand that you <em>shouldn't</em> be reading non-fiction word for word. <em>Non-fiction is </em>(usually)<em> made to be understood, not read!</em>. Here's how to do that, summarised from <a href='https://hbr.org/2016/02/how-to-read-a-book-a-week'>this HBR article</a>:</p>
    <ol>
      <li>Check out the author’s bio online to get a sense of the person’s bias and perspective.</li>
      <li>Read the title, subtitle, front flap, table of contents. Figure out the big-picture argument of the book, and how that argument is laid out.</li>
      <li>Read the introduction and conclusion word for word to figure out where the author starts from and where he eventually gets to.</li>
      <li>Read/skim each chapter (hardest for me!) Read the title, and the first few paragraphs or the first few pages of the chapter to figure out how the author is using the chapter and where it fits into the argument of the whole book. Skim through headings and subheadings to get an idea of the flow. Read first sentence of each paragraph and last. Once you get an argument, move on as it may repeat itself.</li>
      <li>End with the table of contents again, summarise each.</li>
</ol>
<p>While you read, take note of what questions you have. Where do you agree/disagree? This trick (combined with the 5 steps above) will ensure that you remember more than you otherwise might have, because you're now actively engaging with the text.</p>

<p>The last important idea is that non-fiction is a <em>conversation</em> between thinkers, expressed through other books. Reading more, and quickly, helps you learn where each book fits into the larger narrative, and allows you to become faster with each subsequent book you read.</p>
  </div>
  <div class='small-12 medium-5 end columns'>
    <h3>Why summarise?</h3>
    <p>Summarising helps me remember what I've learnt from a book. The interesting thing is that an index of summaries works as an external brain.</p>
    <p>Having a quick index of summaries also makes it easier to cross-reference ideas across different books. Most people get too lost in the weeds while reading, and are unable to connect the arguments of one book to the ideas of another one 3 books later.</p>
    <p>Keeping a searchable index of books makes it possible to do so.</p>
    <h3>About me</h3>
    <p>I'm a <a href='http://elijames.org'>dude</a> who reads.</p>
    <h3>Colophon</h3>
    <p>This site was written in a week in Go, and you may find the source code <a href='https://github.com/ejamesc/grepbook'>here.</a></p>
    <p>The header font is Cormorant Garamond and the body font is Proza Libre.</p>
  </div>
</div>
