{{ define "header-index" }}
  <link rel="stylesheet" href="/static/css/vendor/css/font-awesome.min.css">
{{ end }}
{{ define "scripts-index" }}
<script type="text/javascript" src="/static/js/vendor/jquery.js"></script>
<script type="text/javascript" src="/static/js/vendor/foundation.min.js"></script>
{{ end }}

{{ if gt (len .Ongoing) 0 }}
<div class='row'>
  <div class='small-12 medium-10 medium-offset-1 columns'>
    {{ if ne (len .Flashes) 0 }}
      {{ range .Flashes }}
      <div class='alert callout' data-closable>
        {{ . }}
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ end }}
    {{ end }}

    <h2>Ongoing</h2>
  </div>
</div>
<div class='row'>
  <div class='small-12 medium-10 medium-offset-1 columns end summary-block'>
    {{ range .Ongoing }}
    <div class='row'>
      <div class='small-2 columns date-block'>
        <p>{{ .DateTimeCreated | datefmt }}</p>
      </div>
      <div class='small-10 columns'>
        <h3><a href='/summaries/{{ .UID }}'>{{ .Title }}</a></h3>
        <h5>{{ if .BookAuthor }}By {{ .BookAuthor }}{{ end }}</h5>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
<div class='row'>
  <div class='small-12 medium-10 medium-offset-1 columns completed-heading'>
    <h2>Completed</h2>
  </div>
</div>
<div class='row'>
  <div class='small-12 medium-10 medium-offset-1 columns end summary-block'>
    {{ range .Done }}
    <div class='row'>
      <div class='small-2 columns date-block'>
        <p>{{ .DateTimeCreated | datefmt }}</p>
      </div>
      <div class='small-10 columns'>
        <h3><a href='/summaries/{{ .UID }}'>{{ .Title }}</a></h3>
        <h5>{{ if .BookAuthor }}By {{ .BookAuthor }}{{ end }}</h5>
      </div>
    </div>
    {{ end }}
    {{ if lt (len .Done) 1 }}
      <p>Nothing here yet. Time to get reading!</p>
    {{ end }}
  </div>

  <div class='small-12 columns'>
    <br/>
    <h4 class='text-center'><i class='fa fa-book'></i></h4>
  </div>
</div>
