{{ define "header-read" }}
  <link rel="stylesheet" href="/static/css/vendor/css/font-awesome.min.css">
{{ end }}
{{ define "scripts-read" }}
{{ end }}

<div class='row'>
  <div class='small-12 medium-10 medium-offset-1 columns'>
    <h2>{{ .BookReview.Title }}</h2>
    <h5 class='summary-subheader'>by {{ .BookReview.BookAuthor }} &middot; {{ .BookReview.DateTimeCreated | datefmt }} {{ if .BookReview.BookURL }}&middot; <a href='{{ .BookReview.BookURL }}'>Buy from Amazon</a>{{ end }}</h5>
    {{ if .User }}<span class='label secondary label-right'><a href="/summaries/{{ .BookReview.UID }}/edit"><i class='fa fa-pencil'></i> Edit</a></span>{{ end }}
    {{ if .BookReview.IsOngoing }}<span class='label success label-right'>Ongoing</span>{{ end }}
    <hr/>
  </div>
</div>
<div class='row'>
  <div class='small-12 medium-6 medium-offset-1 columns'>
    {{ if .BRHTML }}
      {{ .BRHTML }}
    {{ else }}
      <p><em>This book summary hasn't been written yet. Such possibilities await!</em></p>
    {{ end }}
  </div>
  <div class='small-12 medium-3 medium-offset-1 end columns'>
    <h4>Chapters</h4>
    <ol class='chapter-list'>
      {{ if gt (len .BookReview.Chapters) 0 }}
        {{ range .BookReview.Chapters }}
        <li><a href="#{{ .ID }}">{{ .Heading }}</a></li>
        {{ end }}
      {{ end }}
    </ol>
  </div>
</div>
<div class='row'>
  <div class='small-12 medium-10 medium-offset-1 end columns'>
    <hr/>
  </div>
</div>
<div class='row'>
  <div class='small-12 medium-6 medium-offset-1 end columns'>
    {{ range .BookReview.Chapters }}
      <div class='chapter-summary'>
        <a name="{{ .ID }}"></a><h3>{{ .Heading }}</h3>
        {{ .TemplateHTML }}
      </div>
    {{ end }}
    
  </div>
</div>
<div class='row'>
  <div class='small-12 medium-10 medium-offset-1 columns'>
    <br/>
    <h4 class='text-center'><i class='fa fa-book'></i></h4>
    <br/>
    {{ if .BookReview.BookURL }}<p><a class='af-link' href='{{ .BookReview.BookURL }}'><i class='fa fa-inverse fa-amazon'></i> Buy from Amazon (affiliate) &rarr;</a>{{ end }}
  </div>
</div>
