{{ define "header-user" }}
{{ end }}
{{ define "scripts-user" }}
 <script type="text/javascript" src="/static/js/vendor/jquery.js"></script>
 <script type="text/javascript" src="/static/js/vendor/foundation.min.js"></script>
{{ end }}

<div class='row'>
  <div class='small-12 medium-10 medium-offset-1 end columns'>
    <h2>User Profile</h2>
    {{ if ne (len .Flashes) 0 }}
      {{ range .Flashes }}
      <div class='alert callout' data-closable>
        {{ . }}
        <button class="close-button" aria-label="Dismiss alert" type="button" onClick="function(){ document.getElementsByClassName('close-button')[0].parent.remove }" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ end }}
    {{ end }}
  </div><!--columns-->
</div>

<div class='row'>
  <form role='form' action='/user' method='post'>
    <div class='small-12 medium-5 medium-offset-1 columns'>
      <label>Email
        <input type="text" name="email" placeholder="Email" value="{{ .User.Email }}"/>
      </label>
      <label>Name
        <input type="text" name="name" placeholder="Display Name" value="{{ .User.Name }}"/>
      </label>
    </div>

    <div class='small-12 medium-5 end columns'>
      <label>Old Password
        <input type="password" name="old-password" placeholder="Password"/>
      </label>
      <label>New Password
        <input type="password" name="new-password" placeholder="Fancy secure new password"/>
      </label>
      <label>New Password, Repeated
        <input type="password" name="new-password2" placeholder="Repeat that fancy new password"/>
      </label>
      <input class="button success right" type="submit" value="Update details &rarr;" />
    </div>
  </form> 
</div>
  </div>
</div>
